@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    /* Hide scrollbar for Chrome, Safari, dan Opera */
    .no-scrollbar::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge, dan Firefox */
.no-scrollbar {
    -ms-overflow-style: none; /* IE dan Edge */
    scrollbar-width: none; /* Firefox */
}
.scrollbar::-webkit-scrollbar {
    width: 6px;
    height:6px;
}

/* Customize scrollbar track */
.scrollbar::-webkit-scrollbar-track {
    background: transparent;
    border-radius : 3px;
    margin-top:50px;
}

/* Customize scrollbar thumb */
.scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius : 5px;
    
}

.scrollbar::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 10px; 
}

.scrollbar::.wrapper::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 10px;
}

}